html {
	height:100%
	margin:0;
	padding:0;	/*added this one too bruh*/

}



body {
	overflow-y: scroll; /*changed from hidden to scroll my guy*/
	overflow-x:hidden;
 	margin: 0px;
	background-image: url("./images/MarbleBackground.jpg");
	height:100%; /*added this one bruh for footer*/
	padding:0;
}

header {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background-color: #FDF2F7;
}

h3 {
	margin: 10px;
}

#logo {
	height: 150px;
	align: center;
}

a {
	color: black;
}

li {
	display: inline;
	margin-right: 15px;
}

hr {
	display: block;
	height: 0px;
	border: 1px solid;
	border-color: #FE657A;
	margin: 0px;
}

.selected {
	color: #FE657A;
}

.pinkletter {
	color: #FE657A;
}

#Combo-header{
	text-align:center;
	font-size: 55px;
	margin-top: 5px;
	margin-bottom: 1px;
}
#Choice-tag{
 	text-align:center;
	font-size: 20px;
	line-height: 80%;
	margin-top: 1px;
	margin-bottom: 1px;
}
#Price-Tag{
	text-align:center;
	font-size: 45px;
	margin-top: 1px;
	margin-bottom:1px;	
}
.redletter {
	color: red;
}

footer {
line-height:100px;
position: fixed;
background: #D3D3D3;
bottom:0px;
width: 100%;
margin-left: 0;
margin-right: 0;
height: 80px;
text-align: center;
 }


/*adding a wrapper my guy*/

#wrapper{
min-height:100%;
position:auto;
}

#table1{
display:inline-block;          
}

#table2{
 display:inline-block;             
margin-left:50px;

}

#table3{
 display:inline-block;             
margin-left:50px;

}

#table4{
 display:inline-block;             
margin-left:50px;

}