header {
	margin: 0px;
	text-align: center;
}

h3 {
	margin: 10px;
}

img {
	height: 100px;
	align: center;
}

a {
	color: black;
}

li {
	display: inline;
	margin-right: 15px;
}

nav {
	text-align: center;
}

hr {
	display: block;
	height: 0px;
	border: 1px solid;
	border-color: #FE657A;
}

#selected {
	color: #FE657A;
}

#pinkletter {
	color: #FE657A;
}