body {
	overflow: hidden;
	margin: 0px;
	background-image: url("./images/MarbleBackground.jpg");
}

header {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background-color: #FDF2F7;
}

h3 {
	margin: 10px;
}

#logo {
	height: 150px;
	align: center;
}

a {
	color: black;
}

li {
	display: inline;
	margin-right: 15px;
}

hr {
	display: block;
	height: 0px;
	border: 1px solid;
	border-color: #FE657A;
	margin: 0px;
}

.selected {
	color: #FE657A;
}

.pinkletter {
	color: #FE657A;
}