html {
	height:100%
	margin:0;
	padding:0;	/*added this one too bruh*/
}



body {
	overflow-x:hidden;
 	margin: 0px;
	height:100%; /*added this one bruh for footer*/
	padding:0;
	overflow: hidden;
	margin: 0px;
	/*Image taken from pixabay: https://pixabay.com/en/white-background-pattern-tile-2398946/ */
	background-image: url("../images/MarbleBackground.jpg");
}

header {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background-color: #FDF2F7;
}

#logo {
	height: 150px;
	align: center;
}

li {
	display: inline;
	margin-right: 15px;
}

hr {
	display: block;
	height: 0px;
	border: 1px solid;
	border-color: #FE657A;
	margin: 0px;
}

.selected {
	color: #FE657A;
}

.pinkletter {
	color: #FE657A;
}

.redletter {
	color: red;
}

footer {
line-height:100px;
position: fixed;
background: #D3D3D3;
bottom:0px;
width: 100%;
margin-left: 0;
margin-right: 0;
height: 80px;
text-align: center;
 }

#wrapper{
	min-height:50%;
	position:auto;
}